.delete {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -102.5px -250px;
  width: 31rem;
  border-radius: 16px;
  border: 1px solid var(--gray-300);
  background-color: var(--white-100);
  outline: none;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
}
