.Header {
  width: 100%;
  background-color: var(--blue-300);
  padding: 1.5rem;
  display: flex;

  justify-content: space-between;
}

.Header .title {
  color: var(--white-100);
  margin: 0;
}

.icon {
  color: var(--white-100);
  cursor: pointer;

  transition: color 0.2s;
}

.icon:hover {
  color: var(--gray-200);
}

.toolbar {
  display: flex;
  gap: 1rem;
}
